@model BMS.Models.BaseModels.Sale

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div class="row">

            <div class="col-md-7">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading ">
                            <div class="panel-title">Selects Product</div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.Label("ProductName", "Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.DropDownList("ProductName", Model.ProductLookUp, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("InStock", "In Stock", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.TextBox("InStock", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("SaleQuantity", "Sale Quantity", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.TextBox("SaleQuantity", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("UnitPrice", "Unit Price", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.TextBox("UnitPrice", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-10">
                                <input type="submit" value="Sale" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Selects Customer</div>
                        </div>
                        <div class="panel-body">



                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerId, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CustomerId, Model.CustomerLookUp, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseDate, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                 
                                    @Html.TextBoxFor(m => m.PurchaseDate,"Date",htmlAttributes: new { @class="form-control", type="date"})

                                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LoyalityPoint, "L.Point", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LoyalityPoint, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoyalityPoint, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    






    </div>
}



    <div class="row">
        <h2 align="center" style="background-color:teal;color:white;font-weight:bold"> Purchase Details</h2>

        <div class="col-md-12">

            <table class="table table-bordered table-striped table-hover table-responsive ">
                <thead>
                    <tr align="center" style="background-color:teal;color:white;font-weight:bold">
                        <td>Serial No</td>
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td>Unit Price</td>
                        <td>Total Price</td>

                        <td>Option</td>
                    </tr>
                </thead>
                <tbody id="ProductsDetailsTable">
                 
                </tbody>
            </table>

        </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

}
