@model BMS.Models.BaseModels.Purchase



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="panel-body">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title"> Suplier</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseDate, "Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" >
                                    @Html.TextBoxFor(m => m.PurchaseDate,htmlAttributes: new { @class="form-control", type="date"})
                                    
                                    @*@Html.EditorFor(model => model.PurchaseDate,new { htmlAttributes = new { @class = "form-control" , @type="DateTime"} })
                                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("SuplierId", "Suplier *", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.DropDownList("SuplierId", Model.SuplierLookUp,null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("InvoiceNo", "Invoice No", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBox("InvoiceNo", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            
        <!--Details info start-->
        @*<div class="col-md-6">*@
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <div class="panel-title" align="center">Purchase Product</div>
                    </div>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("ProductName", "Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.DropDownList("ProductName", Model.ProductLookUp, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Code", "Code", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("Code", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("ManufactureDate", "Manufacture Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBox("ManufactureDate","Manufacture Date",htmlAttributes: new { @class="form-control", type="date"})

                                    </div>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <div class="row">
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Quantity", "Purchase Quantity", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("Quantity", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("UnitPrice", "Unit Price", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("UnitPrice", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("ExpireDate", "Expire Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextBox("ExpireDate","Expire Date",htmlAttributes: new { @class="form-control", type="date"})

                                      @*  @Html.TextBox("ExpireDate", null, htmlAttributes: new { @class = "form-control" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("TotalPrice", "Total Price", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("TotalPrice", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("PreviousCostPrice", "Previous Cost Price", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("PreviousCostPrice", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("PreviousMRP", "Previous MRP", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("PreviousMRP", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("PreviousMRP", "Previous MRP", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("PreviousMRP", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("NewCostPrice", "New Cost Price", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("NewCostPrice", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("NewMRP", "New MRP", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">

                                        @Html.TextBox("NewMRP", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-2">
                                    <input type="submit" value="Purchase" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>*@
        <!--Details table close-->
        
        
        <!--Side Table Start -->
        @*<div class="col-md-6">
                <table class="table table-bordered table-striped table-hover table-responsive ">
                    <thead>
                        <tr align="center" style="background-color:teal;color:white;font-weight:bold">
                            <td>Serial No</td>
                            <td>Product Name</td>
                            <td>Quantity</td>
                            <td>Unit Price</td>
                            <td>Total Price</td>

                            <td>Option</td>
                        </tr>
                    </thead>
                    <tbody id="ProductsDetailsTable">
                       

                    </tbody>
                </table>

            </div>*@
            <!--Side table Close-->

            @*<div class="col-md-4">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Suplier</div>

                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseDate, "Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.SuplierId, "Suplier *", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.SuplierId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SuplierId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr /> <hr />
                            <div class="form-group">
                                @Html.Label("InvoiceNo", "Invoice No", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBox("InvoiceNo", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>*@


        </div>
    </div>
   


}


<div class="row">
    <h2 align="center" style="background-color:teal;color:white;font-weight:bold"> Purchase Details</h2>

    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover table-responsive ">
            <thead>
                <tr align="center" style="background-color:teal;color:white;font-weight:bold">
                    <td>Serial No</td>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Unit Price</td>
                    <td>Total Price</td>

                    <td>Option</td>
                </tr>
            </thead>
            <tbody id="ProductsDetailsTable">
                

            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

}
